@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
body {
    background-color: rgb(247, 241, 247);
    margin: 0;
}
p  {
    font-size: medium;
    font-weight: normal;
    text-align: center;
    text-indent: 15px;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    border-style: double;
    border-color: dimgray;

}
h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Inconsolata', monospace;
}
h2 {
    text-align: center;
    font-family: 'Inconsolata', monospace;   
}

.black_cat {
    height: 100%;
    object-fit: contain;
    position: relative;
}
.menu {
   background-color: black;
   text-align: center;
   height: 70px;
   top: 0;
   left: 0;
   width: 100%;
   position: fixed;
   font-size: 35px;
   font-family: 'Inconsolata', monospace;
   }
.menu .icon {
    position: absolute;
    top: 0;
    height: 70px;
}
.lazy {
    margin-left: 25%;
    border-radius: 10px 0 10px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
